<section class="block container">
    <heder class="block__header">
        <h2>Host on the Cloud to Keep Growing</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim, placeat!</p>
    </heder>
    <article class="grid grid--1x2 feature">
        <div class="feature__content" >
            <span class="icon icon-container">
                <img class="icon-image" src="css/images/wordpress.svg" alt="">
            </span>
            <h3 class="feature__heading" >Super Easy to Use</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda quos explicabo debitis, aperiam fuga nihil accusantium a ducimus necessitatibus error!</p>
            <a href="#" class="link-arrow">Learn More</a>
        </div>
        <img class="feature__image" src="css/images/easy@2x.jpg" alt="">
    </article>

    <article class="grid grid--1x2 feature">
        <div class="feature__content">
            <span class="icon icon-container">
                <img class="icon-image" src="css/images/wordpress.svg" alt="">
            </span>
            <h3 class="feature__heading" >Simply Fast Websites</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda quos explicabo debitis, aperiam fuga nihil accusantium a ducimus necessitatibus error!</p>
            <a href="#" class="link-arrow">Learn More</a>
        </div>
        <img class="feature__image" src="css/images/fast.jpg" alt="">
    </article>

    <article class="grid grid--1x2 feature">
        <div class="feature__content">
            <span class="icon icon-container">
                <img class="icon-image" src="css/images/wordpress.svg" alt="">
            </span>
            <h3 class="feature__heading" >24)7 Expert Support</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda quos explicabo debitis, aperiam fuga nihil accusantium a ducimus necessitatibus error!</p>
            <a href="#" class="link-arrow">Learn More</a>
        </div>
        <img class="feature__image" src="css/images/support.jpg" alt="">
    </article>
</section>