<section class="block">
    <header class="block__header">
        <h2>What our Costumers are Saying</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, molestias?</p>
    </header>
    <div class="container">
        <div class="card testimonial">
            <div class="grid grid--1x2">
                <div class="testimonial__image">
                    <img  src="css/images/testimonial.jpg" alt="A happy, smiling costumer">
                    <span class="icon icon-container icon-container--accent">
                      <img class="icon-image" src="css/images/tick.svg" alt="">
                    </span>
                </div>
                  <blockquote class="quote">
                      <p class="quote__text" >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus cupiditate consequatur tempora harum sint iusto temporibus molestias, ipsam modi tempore.</p>
                      <footer>
                          <div class="media">
                              <div class="media__image">                  
                                <img class="icon-image quote__img" src="css/images/tick.svg" alt="">                 
                              </div>
                              <div class="media__body">
                                  <h3 class="media__title quote__author" >John Smith</h3>
                                  <p class="quote__organization">ABC Company</p>
                              </div>
                          </div>
                      </footer>
                  </blockquote>
            </div>
        </div>
    </div>
</section>